*{
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
}
 .header{
   background-color: #9CF3F9;
   height: 80px;
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
 }
 .nav{
   display: flex;
   justify-content: space-between;
 }
.nav-link{
  color: #252641;
  text-decoration: none;
}
.logo{
  text-transform: uppercase;
  color: #FCD54E  ;
  font-style: normal;  
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0.04em;
  padding: 0 40px;
  line-height: 80px;
}
.nav-menu-item{
  border:#252641;
  display: flex;
  margin-right: 40px;
  list-style: none;
}
.nav-menu{
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
}